{% extends "BilletBundle::layout.html.twig" %}

{% block body %}

  <h2>Réserver un billet</h2>

  {{ include("BilletBundle:Billet:form.html.twig") }}

  <p>
    Attention : vous vous apprétez a reserver un billet.
  </p>

{% endblock %}
