{% extends "BilletBundle::layout.html.twig" %}

{% block body %}
  <div class="row">
    <div class="col-md-9">
      <h2>Commande</h2>
      {{ include("BilletBundle:Billet:form.html.twig") }}

    </div>
  </div>
{% endblock %}
