<h3>Formulaire de commande</h3>

<div class="well">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  <a href="#" id="add_billet" class="btn btn-default">Ajouter un billet</a>
  {#{ form_row(form.billets) }
</div>

{#<button type="submit">Payer</button>#}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var $container = $('div#billetbundle_commande_billets');
    var index = $container.find(':input').length;
    $('#add_billet').click(function(e) {
      addBillet($container);

      e.preventDefault();
      return false;
    });

    if (index == 0) {
      addBillet($container);
    } else {
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    function addBillet($container) {
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Billet n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
