<ul class="nav nav-pills nav-stacked">
  {% for billet in listBillets %}
    <li>
      <a href="{{ path('Billet_view', {'id': billet.id}) }}">
        {{ billet.nom }}
      </a>
    </li>
  {% endfor %}
</ul>
