<ul class="nav nav-pills nav-stacked">
  {% for billet in listBillets %}
    <li>
      <a href="{{ path('oc_platform_view', {'id': billet.id}) }}">
        {{ billet.title }}
      </a>
    </li>
  {% endfor %}
</ul>
